---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=<API_KEY>&t=Up
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 31 Aug 2021 18:54:52 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Up","Year":"2009","Rated":"PG","Released":"29 May 2009","Runtime":"96
        min","Genre":"Animation, Adventure, Comedy","Director":"Pete Docter, Bob Peterson","Writer":"Pete
        Docter, Bob Peterson, Tom McCarthy","Actors":"Edward Asner, Jordan Nagai,
        John Ratzenberger","Plot":"78-year-old Carl Fredricksen travels to Paradise
        Falls in his house equipped with balloons, inadvertently taking a young stowaway.","Language":"English","Country":"United
        States","Awards":"Won 2 Oscars. 79 wins & 87 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMTk3NDE2NzI4NF5BMl5BanBnXkFtZTgwNzE1MzEyMTE@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.2/10"},{"Source":"Rotten Tomatoes","Value":"98%"},{"Source":"Metacritic","Value":"88/100"}],"Metascore":"88","imdbRating":"8.2","imdbVotes":"966,025","imdbID":"tt1049413","Type":"movie","DVD":"21
        Nov 2015","BoxOffice":"$293,004,164","Production":"Pixar Animation Studios","Website":"N/A","Response":"True"}'
  recorded_at: Thu, 02 Sep 2021 07:32:09 GMT
recorded_with: VCR 5.1.0
